.header,
.footer {
  background: rgb(34, 44, 53);
}

.header h1,
.footer h1 {
  margin: 0;
}

.header {
  font-size: 2.5rem;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.body {
  height: 100%;
  display: flex;
}
.app {
  color: white;
}
.a {
  color: white;
  text-decoration: none;
}
